service: gamer-feed
useDotenv: true

provider:
  name: aws
  runtime: go1.x
  stage: ${opt:stage, 'dev'}
  lambdaHashingVersion: "20201221"
  memorySize: 192
  timeout: 90
  logRetentionInDays: 5
  iam:
    role:
      statements:
      - Effect: Allow
        Resource: '*'
        Action:
          - cloudwatch:*
          - logs:*
          - dynamodb:Query
          - dynamodb:Scan
          - dynamodb:GetItem
          - dynamodb:PutItem
          - dynamodb:UpdateItem

  environment:
    LOG_FORMAT: json
    AWS_DEFAULT_REGION: ${env:AWS_DEFAULT_REGION}
    TELEGRAM_TOKEN:     ${env:TELEGRAM_TOKEN}
    TELEGRAM_USER:      ${env:TELEGRAM_USER}
    ENTRIES_TABLE:      { "Ref": "entriesTable" }

  tags:
    project: 'gamer-feed'

package:
 exclude:
   - ./src/**
   - ./node_modules/**
   - ./bin/*
   - ./*
 include:
   - ./bin/function-*

functions:
  scrapper:
    handler: bin/function-scrapper
    events:
      - schedule: cron(0 11 ? * MON-FRI *) # 08h
      - schedule: cron(0 13 ? * MON-FRI *) # 10h
      - schedule: cron(0 15 * * ? *)       # 12h
      - schedule: cron(0 17 * * ? *)       # 14h
      - schedule: cron(0 19 * * ? *)       # 16h
      - schedule: cron(0 21 * * ? *)       # 18h
      - schedule: cron(0 23 * * ? *)       # 20h
      - schedule: cron(0 1 ? * MON-FRI *)  # 22h
      - schedule: cron(0 3 ? * MON-FRI *)  # 0h


resources: # CloudFormation template syntax from here on.
  Resources:
    entriesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:service}-${self:provider.stage}-entries
        AttributeDefinitions:
          - AttributeName: type
            AttributeType: S
          - AttributeName: hash
            AttributeType: S
        KeySchema:
          - AttributeName: type
            KeyType: HASH
          - AttributeName: hash
            KeyType: RANGE
        TimeToLiveSpecification:
          AttributeName: ttl
          Enabled: true
        ProvisionedThroughput:
          ReadCapacityUnits: 0
          WriteCapacityUnits: 0